@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* APP ========================================================================================================================================================= */
/* APP ========================================================================================================================================================= */
/* APP ========================================================================================================================================================= */
/* APP ========================================================================================================================================================= */
:root.theme1 {
    --background: #FFFFFF;
    --body: #F9F9F9;
    --text: #000000;
    --secondary_info: #999999;
    --stroke: #DDDDDD;
    --stroke2: #BBBBBB;
    --stroke3: #999999;
    --hover_a: #F1F1F1;
    --active_a: #DDDDDD;

    --padding: 150px;
    --font: 'Manrope', sans-serif;

    --js-1: #dbcb37;
    --js-2: #FFFAD9;
    --php-1: #777BB4;
    --php-2: #DADEEE;
    --html-1: #E34C26;
    --html-2: #EEC9BF;
    --css-1: #1572B6;
    --css-2: #D0E0ED;
    --mysql-1: #00618B;
    --mysql-2: #CDE4ED;
    --java-1: #B07219;
    --java-2: #EFDFC9;
    --c-1: #555555;
    --c-2: #C9C9C9;
    --pr-1: #9999FF;
    --pr-2: #CFCFE9;
    --ae-1: #9A9AFF;
    --ae-2: #CFCFE4;
    --py-1: #3372A2;
    --py-2: #CADEEE;
    --and-1: #089C5F;
    --and-2: #E7F6EF;
    --mongo-1: #00EB74;
    --mongo-2: #E1F8ED;
    --counter-1: #000000;
    --counter-2: #EFEFEF;
}

/* :root.theme2 {
    --background: #ff98b5;
    --body: #90ffeb;
    --text: #2e70c7;
    --secondary_info: #86A4CC;
    --stroke: #C5D7EE;
    --stroke2: #8EACD3;
    --stroke3: #5783BC;
    --hover_a: #b30033;
    --active_a: #7a0023;

    --padding: 150px;
    --font: 'Comic', sans-serif;
} */

:root.theme2 {
    --background: #1D1D1D;
    --body: #121212;
    --text: #E1E1E1;
    --secondary_info: #7D7D7D;
    --stroke: #363636;
    --stroke2: #C6C6C6;
    --stroke3: #C5C5C5;
    --hover_a: #2D2D2D;
    --active_a: #3D3D3D;

    --padding: 150px;
    --font: 'Manrope', sans-serif;

    --filter_invert: invert(1);

    --js-2: #dbcb37;
    --js-1: #FFFAD9;
    --php-2: #777BB4;
    --php-1: #DADEEE;
    --html-2: #E34C26;
    --html-1: #EEC9BF;
    --css-2: #1572B6;
    --css-1: #D0E0ED;
    --mysql-2: #00618B;
    --mysql-1: #CDE4ED;
    --java-2: #B07219;
    --java-1: #EFDFC9;
    --c-2: #555555;
    --c-1: #C9C9C9;
    --pr-2: #9999FF;
    --pr-1: #CFCFE9;
    --ae-2: #9A9AFF;
    --ae-1: #CFCFE4;
    --py-2: #3372A2;
    --py-1: #CADEEE;
    --and-2: #089C5F;
    --and-1: #E7F6EF;
    --mongo-2: #00EB74;
    --mongo-1: #E1F8ED;
    --counter-2: #000000;
    --counter-1: #EFEFEF;
}

.filter_invert {
    filter: var(--filter_invert);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

html,
body {
    height: 100%;
}

body {
    background: var(--body);
    height: 100vh;
    scrollbar-gutter: stable both-edges;
    display: flex;
    flex-direction: column;
}

.extrabold {
    font-weight: 800;
}

.bolder {
    font-weight: 700;
}

.bold {
    font-weight: 600;
}

.semibold {
    font-weight: 500;
}

.underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.important_info {
    color: var(--text);
    font-weight: 600;
    display: inline !important;
}

.less_important_info {
    color: var(--secondary_info);
    font-weight: 600;
}

.hide {
    display: none !important;
}

.card {
    background: var(--background);
    border-radius: 5px;
    border: 1px solid var(--stroke);
}

.bd {
    border: 1px solid var(--text);
}

p,
span {
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--text);
}

svg,
path {
    fill: var(--text);
}

:target {
    outline: 5px solid var(--stroke);
    outline-offset: 10px;
}

.scroll_to_top {
    background: var(--background);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease;
    border: 1px solid var(--stroke);
    cursor: pointer;
    transform: translateY(20vh);
    user-select: none;
    z-index: 10;
}

.show {
    transform: translateY(0);
    transition: background 0.2s ease;

    &:hover {
        background: var(--hover_a);
    }

    &:active {
        background: var(--active_a);
    }
}

p {
    font-size: 18px;
}

.separator {
    width: 100%;
    height: 1px;
    background: var(--stroke);
}

.btn {
    border: 1px solid var(--stroke);
    border-radius: 5px;
    cursor: pointer;
    background: var(--background);
    font-size: 18px;
    font-weight: 700;
    color: var(--text);
    transition: all 0.1s ease;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contact-me__btn {
    background: var(--text);
    color: var(--background);
}

a {
    display: flex;
}

.skill__label-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    user-select: none;
    border-radius: 10px;
}

.skill__label {
    width: fit-content;
    padding: 0px 6px;
    border-radius: 50px;
}

.skill__label p {
    font-size: 12px;
    font-weight: bold;
}

.js-l {
    border: 2px solid var(--js-1);
    color: var(--js-1);
    background: var(--js-2);
}

.js-c {
    color: var(--js-1);
}

.php-l {
    border: 2px solid var(--php-1);
    color: var(--php-1);
    background: var(--php-2);
}

.php-c {
    color: var(--php-1);
}

.html-l {
    border: 2px solid var(--html-1);
    color: var(--html-1);
    background: var(--html-2);
}

.html-c {
    color: var(--html-1);
}

.css-l {
    border: 2px solid var(--css-1);
    color: var(--css-1);
    background: var(--css-2);
}

.css-c {
    color: var(--css-1);
}

.mysql-l {
    border: 2px solid var(--mysql-1);
    color: var(--mysql-1);
    background: var(--mysql-2);
}

.mysql-c {
    color: var(--mysql-1);
}

.java-l {
    border: 2px solid var(--java-1);
    color: var(--java-1);
    background: var(--java-2);
}

.java-c {
    color: var(--java-1);
}

.c-l {
    border: 2px solid var(--c-1);
    color: var(--c-1);
    background: var(--c-2);
}

.c-c {
    color: var(--c-1);
}

.pr-l {
    border: 2px solid var(--pr-1);
    color: var(--pr-1);
    background: var(--pr-2);
}

.pr-c {
    color: var(--pr-1);
}

.ae-l {
    border: 2px solid var(--ae-1);
    color: var(--ae-1);
    background: var(--ae-2);
}

.ae-c {
    color: var(--ae-1);
}

.py-l {
    border: 2px solid var(--py-1);
    color: var(--py-1);
    background: var(--py-2);
}

.py-c {
    color: var(--py-1);
}

.and-l {
    border: 2px solid var(--and-1);
    color: var(--and-1);
    background: var(--and-2);
}

.and-c {
    color: var(--and-1);
}

.mongo-l {
    border: 2px solid var(--mongo-1);
    color: var(--mongo-1);
    background: var(--mongo-2);
}

.mongo-c {
    color: var(--mongo-1);
}

.counter-l {
    border: 2px solid var(--counter-1);
    color: var(--counter-1);
    background: var(--counter-2);
}

.counter-c {
    color: var(--counter-1);
}

::-webkit-scrollbar {
    width: 12px;
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--stroke);
    border: 0.2em solid var(--background);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--stroke2);
}

::-webkit-scrollbar-thumb:active {
    background: var(--stroke3)
}

/* NAV ========================================================================================================================================================= */
/* NAV ========================================================================================================================================================= */
/* NAV ========================================================================================================================================================= */
/* NAV ========================================================================================================================================================= */
.nav_invisible {
    visibility: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background: var(--background);
    height: 50px;
    border-bottom: 1px solid var(--stroke);
    user-select: none;
}

.nav_logo {
    display: flex;
}

.nav_indicator {
    display: flex;
    gap: 10px;
}

.nav_indicator__item {
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.nav_indicator--active {
    background: var(--active_a);
}

.nav_indicator__item:hover {
    background: var(--hover_a);
}

.nav_indicator__item:active {
    background: var(--active_a);
}

.nav_indicator__item p {
    font-size: 20px;
    font-weight: 500;
}

.nav_indicator__item button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.button-nav_indicator {
    padding: 5px 8px;
}

#change-theme {
    color: var(--text);
}

/* BODY ========================================================================================================================================================= */
/* BODY ========================================================================================================================================================= */
/* BODY ========================================================================================================================================================= */
/* BODY ========================================================================================================================================================= */
.main_container {
    padding-inline: var(--padding);
    flex: 1;
}

section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section_title {
    margin-top: 75px;
    font-size: 20px;
}

.projects_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.projects_grid__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project {
    height: 225px;
    width: 350px;
    position: relative;
    transition: box-shadow 0.2s ease;

    &:hover {
        box-shadow: 0px 2px 3px 0px var(--stroke);
    }
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.project_name {
    text-transform: uppercase;
    font-weight: 600;
}

.skills_container {
    min-height: 300px;
}

.skills_category {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 15px;
    padding-block: 25px;
}

.skill_category__item--active,
.skill_category__item {
    border-radius: 50px;
    padding: 4px 18px;
    width: fit-content;
    cursor: pointer;
    transition: all 0.1s ease;
    user-select: none;
}

.skills_category .skill_category__item--active {
    background: var(--active_a);
}

.skill_category__item {
    background: transparent;
}

.skill_category__item:not(.skill_category__item--active):hover {
    background: var(--hover_a);
}

.skill_category__item:not(.skill_category__item--active):active {
    background: var(--stroke);
}

.skill_self__label {
    font-size: 20px;
    font-weight: 500;
}

.skills_items {
    padding: 30px 60px 60px 60px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 50px;
    row-gap: 40px;
}

.skill_item {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
    position: relative;
    cursor: pointer;

    animation: fade-in 0.5s ease forwards;
    transition: all 0.1s ease;
}

.skill_item::before {
    content: "";
    display: flex;
    width: 130%;
    height: 120%;
    position: absolute;
    border-radius: 10px;
}

.skill_item:hover {
    transform: scale(1.1);
}

.skill_item:hover::before {
    background: var(--hover_a);
}

.skill_item a {
    text-decoration: none;
    color: inherit;
    display: contents;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.skill_item-name {
    font-weight: 600;
    font-size: 14px;
}

.skill_item-name,
.skill_item-logo {
    z-index: 2;
}

.career {
    display: flex;
    margin-bottom: 20px;
}

.career-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
}

.career-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.career-right {
    margin-left: 15px;
    width: 65%;
}

.track,
.track-s {
    width: 4px;
    height: 75px;
    border-radius: 50px;
    background: var(--stroke);
}

.track-s {
    height: 30px;
}

.career_date {
    margin-bottom: 10px;
}

.career_estab {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.career_diploma {
    color: var(--secondary_info);
}

.estab_link {
    padding: 5px 10px;
    width: fit-content;
    height: fit-content;
    user-select: none;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.1s ease;
}

.estab_link span {
    transform: rotate(90deg);
    display: flex;
}

.estab_link:hover {
    background: var(--hover_a);
}

.estab_link:active {
    background: var(--active_a);
}

.estab_link::after {
    content: "Institution page";
    position: absolute;
    top: -57%;
    left: 100%;
    transform: translate(-50%, -50%);
    background: var(--text);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: var(--stroke);
    white-space: nowrap;
    opacity: 0;
}

.estab_link::before {
    content: "";
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--text);
    opacity: 0;
}

.estab_link:hover::after,
.estab_link:hover::before {
    opacity: 1;
}

.estab_link::before,
.estab_link::after {
    user-select: none;
    pointer-events: none;
}

.contact_btns {
    display: flex;
    gap: 20px;
}

.contact_btns span {
    color: inherit;
}

/* PROJECTS ========================================================================================================================================================= */
/* PROJECTS ========================================================================================================================================================= */
/* PROJECTS ========================================================================================================================================================= */
/* PROJECTS ========================================================================================================================================================= */
.project_header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 50px;
}

.project_imgs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imgs_wrapper {
    display: flex;
    gap: 20px;
}

.project_details {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.project_details--item {
    gap: 15px;
}

.img_container {
    outline: 1px solid var(--stroke);
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: flex;
    cursor: pointer;
}

.img_container img {
    width: 100%;
    height: auto;
    border-radius: inherit;
}

.project_content {
    width: 60%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content {
    display: flex;
    width: 100%;
    max-width: 700px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    animation: fade-in 0.5s ease forwards;
}

#caption {
    display: block;
    width: fit-content;
    text-align: center;
    color: var(--background);
    height: fit-content;
    font-size: 20px;
    margin-top: 10px;
    animation: fade-in 0.5s ease forwards;
}

/* FOOTER ========================================================================================================================================================= */
/* FOOTER ========================================================================================================================================================= */
/* FOOTER ========================================================================================================================================================= */
/* FOOTER ========================================================================================================================================================= */
footer {
    margin-top: 100px;
    border-top: 1px solid var(--stroke);
    background: var(--background);
    padding: 70px 200px;
}

footer p,
footer a {
    font-size: 16px;
}

.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_link {
    font-weight: bold;
}

.footer_section--wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer_section {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 40px;

}

.footer_sep {
    margin-block: 20px;
    /* border: 2px solid blue; */
}

.socials {
    display: flex;
    gap: 15px;
}

.social {
    border: 1px solid var(--stroke);
    background: var(--background);
    border-radius: 5px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s ease;
    user-select: none;
}

.social img {
    pointer-events: none;
}

.social a {
    display: flex;
}

.social:hover {
    background: var(--hover_a);
}

.social:active {
    background: var(--active_a);
}


/* RESPONSIVE ========================================================================================================================================================= */
/* RESPONSIVE ========================================================================================================================================================= */
/* RESPONSIVE ========================================================================================================================================================= */
/* RESPONSIVE ========================================================================================================================================================= */
@media (max-width: 800px) {
    :root.theme1 {
        --padding: 10px;
    }

    :root.theme2 {
        --padding: 10px;
    }

    nav {
        padding: 0px;
        position: relative;
        z-index: 2;
        display: block;
    }

    .nav_header {
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: var(--background);
        height: 50px;
        position: inherit;
    }

    .hamburger_menu {
        position: relative;
    }

    .hamburger_menu--open::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150%;
        height: 150%;
        transform: translate(-50%, -50%);
        background: var(--hover_a);
        border-radius: 100px;
        z-index: -1;
        transition: all 0.2s ease;
        opacity: 0;
    }

    .hamburger_menu--open:hover::before {
        opacity: 1;
    }

    .nav_indicator {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, -100%);
        background: var(--background);
        width: 100%;
        padding-block: 10px;
        z-index: 1;
        transition: all 0.6s ease;
    }

    .away {
        top: 100%;
        left: 0;
        transform: translate(0, -0%);

    }

    .nav_indicator__item {
        width: fit-content;
        margin-left: 10px;
    }

    footer {
        padding: 30px;
    }

    footer p,
    footer a {
        font-size: 14px;
    }

    .footer_section--wrap {
        grid-template-columns: 1fr;
    }

    .footer_section {
        gap: 30px;

    }

    .socials {
        display: flex;
        gap: 15px;
    }

    .social {
        border: 1px solid var(--stroke);
        background: var(--background);
        border-radius: 5px;
        display: flex;
        padding: 10px;
        cursor: pointer;
        transition: all 0.1s ease;
        user-select: none;
    }

    .social img {
        pointer-events: none;
    }

    .social a {
        display: flex;
    }

    .social:hover {
        background: var(--hover_a);
    }

    .social:active {
        background: var(--active_a);
    }

    .project_header {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .project_content {
        width: 100%;
    }

    .modal-content {
        max-width: 90%;
    }
}