@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* APP ========================================================================================================================================================= */
/* APP ========================================================================================================================================================= */
/* APP ========================================================================================================================================================= */
/* APP ========================================================================================================================================================= */
:root {
    --background: #FFFFFF;
    --body: #F9F9F9;
    --text: #000000;
    --secondary_info: #999999;
    --stroke: #DDDDDD;
    --hover_a: #F1F1F1;
    --active_a: #DDDDDD;

    --padding: 150px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background: var(--body);
    height: 100vh;
    scrollbar-gutter: stable both-edges;
    display: flex;
    flex-direction: column;
}

.extrabold {
    font-weight: 800;
}

.bolder {
    font-weight: 700;
}

.bold {
    font-weight: 600;
}

.semibold {
    font-weight: 500;
}

.underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.important_info {
    color: var(--text);
    font-weight: 600;
}

.less_important_info {
    color: var(--secondary_info);
    font-weight: 600;
}

.hide {
    display: none !important;
}

.card {
    background: var(--background);
    border-radius: 5px;
    border: 1px solid var(--stroke);
}

a {
    text-decoration: none;
    color: inherit;
}

:target {
    outline: 5px solid var(--stroke);
    outline-offset: 10px;
}

.scroll_to_top {
    background: var(--background);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease;
    border: 1px solid var(--stroke);
    cursor: pointer;
    transform: translateY(20vh);
    user-select: none;
    z-index: 10;
}

.show {
    transform: translateY(0);
}

.show:hover {
    background: var(--primary25);
}

p {
    font-size: 18px;
}

.separator {
    width: 100%;
    height: 1px;
    background: var(--stroke);
}

.btn {
    border: 1px solid var(--stroke);
    border-radius: 5px;
    cursor: pointer;
    background: var(--background);
    font-size: 18px;
    font-weight: 700;
    color: var(--text);
    transition: all 0.1s ease;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contact-me__btn {
    background: #000;
    color: var(--background);
}

a {
    display: flex;
}

.skill__label-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10px;
    right: 10px;
    user-select: none;
}

.skill__label {
    width: fit-content;
    padding: 0px 6px;
    border-radius: 50px;
}

.skill__label p {
    font-size: 12px;
    font-weight: bold;
}

.js-l {
    border: 2px solid #dbcb37;
    color: #dbcb37;
    background: #FFFAD9;
}

.php-l {
    border: 2px solid #777BB4;
    color: #777BB4;
    background: #DADEEE;
}

.html-l {
    border: 2px solid #E34C26;
    color: #E34C26;
    background: #EEC9BF;
}

.css-l {
    border: 2px solid #1572B6;
    color: #1572B6;
    background: #D0E0ED;
}

.mysql-l {
    border: 2px solid #00618B;
    color: #00618B;
    background: #CDE4ED;
}

.java-l {
    border: 2px solid #B07219;
    color: #B07219;
    background: #EFDFC9;
}

.c-l {
    border: 2px solid #555555;
    color: #555555;
    background: #C9C9C9;
}

.pr-l {
    border: 2px solid #9999FF;
    color: #9999FF;
    background: #CFCFE9;
}

.ae-l {
    border: 2px solid #9A9AFF;
    color: #9A9AFF;
    background: #CFCFE4;
}

.py-l {
    border: 2px solid #3372A2;
    color: #3372A2;
    background: #CADEEE;
}

.counter-l {
    border: 2px solid #000000;
    color: #000000;
    background: #EFEFEF;
}

/* NAV ========================================================================================================================================================= */
/* NAV ========================================================================================================================================================= */
/* NAV ========================================================================================================================================================= */
/* NAV ========================================================================================================================================================= */
.nav_invisible {
    visibility: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background: var(--background);
    height: 50px;
}

.nav_logo {
    display: flex;
}

.nav_indicator {
    display: flex;
    gap: 10px;
}

.nav_indicator__item {
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
}

.nav_indicator--active {
    background: var(--active_a);
}

.nav_indicator__item:hover {
    background: var(--hover_a);
}

.nav_indicator__item:active {
    background: var(--active_a);
}

.nav_indicator__item p {
    font-size: 20px;
    font-weight: 500;
}

/* BODY ========================================================================================================================================================= */
/* BODY ========================================================================================================================================================= */
/* BODY ========================================================================================================================================================= */
/* BODY ========================================================================================================================================================= */
.main_container {
    padding-inline: var(--padding);
    flex: 1;
}

section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid #000; */
}

.section_title {
    margin-top: 75px;
    font-size: 20px;
}

.projects_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.projects_grid__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project {
    height: 225px;
    width: 350px;
    position: relative;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.project_name {
    text-transform: uppercase;
    font-weight: 600;
}

.skills_container {
    min-height: 300px;
}

.skills_category {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 15px;
    padding-block: 25px;
}

.skill_category__item--active,
.skill_category__item {
    border-radius: 50px;
    padding: 4px 18px;
    width: fit-content;
    cursor: pointer;
    transition: all 0.1s ease;
    user-select: none;
}

.skills_category .skill_category__item--active {
    background: var(--active_a);
}

.skill_category__item {
    background: transparent;
}

.skill_category__item:not(.skill_category__item--active):hover {
    background: var(--hover_a);
}

.skill_category__item:not(.skill_category__item--active):active {
    background: var(--stroke);
}

.skill_self__label {
    font-size: 20px;
    font-weight: 500;
}

.skills_items {
    /* border: 1px solid #000; */
    padding: 30px 60px 60px 60px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 50px;
    row-gap: 40px;
}

.skill_item {
    /* border: 1px solid red; */
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
    position: relative;
    cursor: pointer;

    animation: fade-in 0.5s ease forwards;
    transition: all 0.1s ease;
}

.skill_item::before {
    content: "";
    display: flex;
    width: 130%;
    height: 120%;
    position: absolute;
    border-radius: 10px;
}

.skill_item:hover {
    transform: scale(1.1);
}

.skill_item:hover::before {
    background: var(--hover_a);
}

.skill_item a {
    text-decoration: none;
    color: inherit;
    display: contents;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.skill_item-name {
    font-weight: 600;
    font-size: 14px;
}

.skill_item-name,
.skill_item-logo {
    z-index: 2;
}

.career {
    /* border: 1px solid #000; */
    display: flex;
    margin-bottom: 20px;
}

.career-center {
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
}

.career-left {
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.career-right {
    /* border: 1px solid #000; */
    margin-left: 15px;
    width: 65%;
}

.track,
.track-s {
    width: 4px;
    height: 75px;
    border-radius: 50px;
    background: var(--stroke);
}

.track-s {
    height: 30px;
}

.career_date {
    /* border: 1px solid #000; */
    margin-bottom: 10px;
}

.career_estab {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.career_diploma {
    color: var(--secondary_info);
}

.estab_link {
    padding: 5px 10px;
    width: fit-content;
    height: fit-content;
    user-select: none;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.1s ease;
}

.estab_link span {
    transform: rotate(90deg);
    display: flex;
}

.estab_link:hover {
    background: var(--hover_a);
}

.estab_link:active {
    background: var(--active_a);
}

.estab_link::after {
    content: "Institution page";
    position: absolute;
    top: -57%;
    left: 100%;
    transform: translate(-50%, -50%);
    background: #000;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: var(--stroke);
    white-space: nowrap;
    opacity: 0;
}

.estab_link::before {
    content: "";
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
    opacity: 0;
}

.estab_link:hover::after,
.estab_link:hover::before {
    opacity: 1;
}

.estab_link::before,
.estab_link::after {
    user-select: none;
    pointer-events: none;
}

.contact_btns {
    display: flex;
    gap: 20px;
}

/* PROJECTS ========================================================================================================================================================= */
/* PROJECTS ========================================================================================================================================================= */
/* PROJECTS ========================================================================================================================================================= */
/* PROJECTS ========================================================================================================================================================= */
.img_container {
    border: 1px solid var(--stroke);
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.img_container img {
    width: 100%;
    height: auto;
    border-radius: inherit;
}


/* FOOTER ========================================================================================================================================================= */
/* FOOTER ========================================================================================================================================================= */
/* FOOTER ========================================================================================================================================================= */
/* FOOTER ========================================================================================================================================================= */
footer {
    margin-top: 100px;
    border-top: 1px solid var(--stroke);
    background: #fff;
    padding: 70px 200px;
}

footer p,
footer a {
    font-size: 16px;
}

.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_link {
    font-weight: bold;
}

.footer_section--wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer_section {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 40px;

}

.footer_sep {
    margin-block: 20px;
    /* border: 2px solid blue; */
}

.socials {
    display: flex;
    gap: 15px;
}

.social {
    border: 1px solid var(--stroke);
    background: var(--background);
    border-radius: 5px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s ease;
    user-select: none;
}

.social img {
    pointer-events: none;
}

.social a {
    display: flex;
}

.social:hover {
    background: var(--hover_a);
}

.social:active {
    background: var(--active_a);
}


/* RESPONSIVE ========================================================================================================================================================= */
/* RESPONSIVE ========================================================================================================================================================= */
/* RESPONSIVE ========================================================================================================================================================= */
/* RESPONSIVE ========================================================================================================================================================= */
@media (max-width: 800px) {
    :root {
        --padding: 10px;
    }

    nav {
        padding: 0px;
        position: relative;
        z-index: 2;
        display: block;
    }

    .nav_header {
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: var(--background);
        height: 50px;
        position: inherit;
    }

    .hamburger_menu {
        position: relative;
    }

    .hamburger_menu--open::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150%;
        height: 150%;
        transform: translate(-50%, -50%);
        background: var(--hover_a);
        border-radius: 100px;
        z-index: -1;
        transition: all 0.2s ease;
        opacity: 0;
    }

    .hamburger_menu--open:hover::before {
        opacity: 1;
    }

    .nav_indicator {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, -100%);
        background: var(--background);
        width: 100%;
        padding-block: 10px;
        z-index: 1;
        transition: all 0.6s ease;
    }

    .away {
        top: 100%;
        left: 0;
        transform: translate(0, -0%);
        
    }

    .nav_indicator__item {
        width: fit-content;
        margin-left: 10px;
    }

    footer {
        padding: 30px;
    }

    footer p,
    footer a {
        font-size: 14px;
    }

    .footer_section--wrap {
        grid-template-columns: 1fr;
    }

    .footer_section {
        gap: 30px;

    }

    .socials {
        display: flex;
        gap: 15px;
    }

    .social {
        border: 1px solid var(--stroke);
        background: var(--background);
        border-radius: 5px;
        display: flex;
        padding: 10px;
        cursor: pointer;
        transition: all 0.1s ease;
        user-select: none;
    }

    .social img {
        pointer-events: none;
    }

    .social a {
        display: flex;
    }

    .social:hover {
        background: var(--hover_a);
    }

    .social:active {
        background: var(--active_a);
    }
}